.PlayerViewHand {
    margin-bottom: -10rem;
}

.PlayerViewHand .player-view-hand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15rem; 
    /* width: 100%; */
    /* border: 1px solid lime; */
    position: relative;
}

.PlayerViewHand .player-view-hand-container .Card {
    border: 1px solid rgba(92, 92, 92, 0.758);
    position: absolute;
}


.PlayerViewHand .player-view-hand-container .Card {
    transform: translateY(-60%);
}

.PlayerViewHand .player-view-hand-container .Card:nth-child(1) {
    transform: translateX(-100%) rotate(-9deg);
}

.PlayerViewHand .player-view-hand-container .Card:nth-child(2) {
    transform: translateX(-80%) rotate(-7deg);
}

.PlayerViewHand .player-view-hand-container .Card:nth-child(3) {
    transform: translateX(-60%) rotate(-5deg);
}

.PlayerViewHand .player-view-hand-container .Card:nth-child(4) {
    transform: translateX(-40%) rotate(-3deg);
}

.PlayerViewHand .player-view-hand-container .Card:nth-child(5) {
    transform: translateX(-20%) rotate(-1deg);
}

.PlayerViewHand .player-view-hand-container .Card:nth-child(6) {
    transform: translateX(20%) rotate(0deg);
}

.PlayerViewHand .player-view-hand-container .Card:nth-child(7) {
    transform: translateX(40%) rotate(1deg);
}

.PlayerViewHand .player-view-hand-container .Card:nth-child(8) {
    transform: translateX(60%) rotate(3deg);
}

.PlayerViewHand .player-view-hand-container .Card:nth-child(9) {
    transform: translateX(80%) rotate(7deg);
}

.PlayerViewHand .player-view-hand-container .Card:nth-child(10) {
    transform: translateX(100%) rotate(9deg);
}


/* HOVER STATE FOR PLAYER HAND CARDS */
.PlayerViewHand .player-view-hand-container:hover .Card {
    transition: transform 0.3s ease-in-out;
}

.PlayerViewHand .player-view-hand-container:hover .Card:nth-child(1) {
    transform: translateX(-240%) rotate(-17deg);
}

.PlayerViewHand .player-view-hand-container:hover .Card:nth-child(2) {
    transform: translateX(-180%) rotate(-14deg);
}

.PlayerViewHand .player-view-hand-container:hover .Card:nth-child(3) {
    transform: translateX(-120%) rotate(-9deg);
}

.PlayerViewHand .player-view-hand-container:hover .Card:nth-child(4) {
    transform: translateX(-70%) rotate(-7deg);
}

.PlayerViewHand .player-view-hand-container:hover .Card:nth-child(5) {
    transform: translateX(-30%) rotate(-3deg);
}

.PlayerViewHand .player-view-hand-container:hover .Card:nth-child(6) {
    transform: translateX(30%) rotate(3deg);
}

.PlayerViewHand .player-view-hand-container:hover .Card:nth-child(7) {
    transform: translateX(70%) rotate(7deg);
}

.PlayerViewHand .player-view-hand-container:hover .Card:nth-child(8) {
    transform: translateX(120%) rotate(9deg);
}

.PlayerViewHand .player-view-hand-container:hover .Card:nth-child(9) {
    transform: translateX(180%) rotate(14deg);
}

.PlayerViewHand .player-view-hand-container:hover .Card:nth-child(10) {
    transform: translateX(240%) rotate(17deg);
}

.PlayerViewHand .player-view-hand-container .Card:hover {
    margin-bottom: 6rem;
    border: 1px solid red;
    z-index: 1000;
    background-color: rgba(172, 171, 171, 0.9);
}

.PlayerViewHand .player-view-hand-container .Card {
    cursor: grab;
}

.PlayerViewHand .player-view-hand-container .Card:active {
    cursor: grabbing;
}
