.Navigation {
    padding: .5rem 1rem;
    /* border: 1px solid lime; */
}

.Navigation ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.Navigation li:first-child {
    margin-right: auto;
}

.Navigation li {
    list-style: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .1rem;
    letter-spacing: 4px;
}

.Navigation li:hover {
    font-weight: 700;
}

.Navigation .nav-link {
    text-decoration: none;
    color: inherit;
}